@font-face { font-family: Montserrat; src: url('Montserrat-Medium.ttf'); font-weight: 500;}
@font-face { font-family: Montserrat; src: url('Montserrat-SemiBold.ttf'); font-weight: 600; }
@font-face { font-family: Notable; src: url('Notable-Regular.ttf'); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body
{
  min-width: 300px;
  font-size: 13px;
  color: #2E2E2E;
  background-color: white;
  font-family: 'Montserrat-SemiBold';
}

#clickhide-instructions,
#clickhide-cancel,
body.clickhide-active li
{
  display: none;
}

body.clickhide-active #clickhide-instructions,
body.clickhide-active #clickhide-cancel
{
  display: block;
}

body.local #enabled,
body.local #clickhide,
body.local #stats-page,
body.local #issueReporter
{
  display: none;
}

body.nohtml #clickhide,
body.disabled #clickhide
{
  display: none;
}

header
{
  margin-bottom: 35px;
}

#logo
{
  display: block;
  position: relative;
}

#stats-container .icon
{
  background-position: -50px -49px;
}

#stats strong
{
  font-size: 15px;
  line-height: 140%;
}

.collapse
{
  position: relative;
  padding-right: 25px;
}

.collapse-icon-placeholder
{
  display: none;
  width: 45px;
}

.collapse-icon
{
  display: inline-block;
  position: absolute;
  top: 13px;
  right: 10px;
  width: 11px;
  height: 11px;
  background-image: url(popup.png);
  background-position: -34px -65px;
}

.collapsed .collapse-icon
{
  background-position: -34px -77px;
}

.collapsed .collapsible
{
  display: none;
}

#stats-page {
	margin-bottom: 5px;
}

body.disabled.status-changed #refresh {
  color: #888888 !important;
}

body.status-changed #refresh {
  color: #1F8CA6 !important;
}

#refresh.menu-item {
	padding: 4px 0 4px 0;
    border-radius: 2px;
    border: 1px solid #eee;
}

#refresh {
    display: none;
    margin-bottom: 40px;
    height: 76px;
    background: white !important;
}

#refresh:hover {
  background: #D2D7ED !important;
}

#refresh:focus {
  outline:none !important;
  border: none !important;
  box-shadow: none !important;
  background: transparent !important; 
  color:  white !important;
}

.status-changed #refresh {
	display: block;
}

.status-changed #stats-container {
	display: none;
}
#refresh img {
	height: 25px;
	display: inline;
  margin:  0 auto;
  opacity: 0.5;
}

.beforeSpecial::before {
  opacity: 100% !important;
}

.afterSpecial::after {
  opacity: 100% !important;
}



.custom-switch.custom-switch-md .custom-control-label {
  padding-left: 2rem;
  padding-bottom: 1.5rem;
}

.custom-switch.custom-switch-md .custom-control-label::before {
  height: 22px;
  width: calc(2rem + 0.75rem);
  border-radius: 4px;
  background: #A8A8A8;
}

.custom-switch.custom-switch-md .custom-control-label::after {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: white;
  top: calc(.29rem + 2px);
  left: calc(-2.15rem + 2px);
}

.custom-switch.custom-switch-md .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(calc(1.5rem - 0.25rem));
}

.custom-control-input:checked~.custom-control-label::before {
border-color: #2DA1BC;
background-color: #2DA1BC;
box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.closed {
  display: none;
}

.under-line {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 303px;
  height: 1.5px;
  background: white;
  bottom: 15px;
}