a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

[hidden] {
    display: none;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    background: #d64096;
    backdrop-filter: blur(13.5px);
    border-radius: 18px;
    padding: 12px 52px;
}

.header {
    height: 67px;
    width: 392px;
    border-radius: 16px;
    background: rgba(62, 62, 62, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    margin-bottom: 12px;
}

.header__main-block {
    display: flex;
    align-items: center;
    margin: 0 auto 10px auto;
}

.header__icon {
    vertical-align: text-bottom;
    /*height: 28px;*/
    /*width: 28px;*/
    padding: 13px;
    height: 42px;
    width: 42px;
}

.header__name {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    padding: 0 0.35em;
    font-size: 1.4em;
    font-weight: 540;
}

.header__description {
    display: block;
    text-align: center;
    font-size: 1.04em;
    color: #ffffff;
    padding-bottom: 6px;
}

.volume-container {
    height: 105px;
    width: 392px;
    border-radius: 8px;
    background: rgba(62, 62, 62, 0.8);
}

.line {
    border-top: 0px solid #95b2bdbf;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 8px;
}

.notification {
    display: none;
    border-color: #5bf9ff;
    border-radius: 0.25rem;
    position: relative;
    padding: 0.75em 2.5em 0.75em 1em;
    margin-bottom: 2em;
    color: #0c0102;
    background-color: #ffffff;
}

.notification.is-active {
    display: block;
}

.notification__close {
    font-weight: 700;
    font-size: 1.5em;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    line-height: 1;
    outline: 0;
    cursor: pointer;
    border-color: transparent;
    background-color: transparent;
    color: rgba(0, 64, 133, 0.4);
}

.notification__close:hover {
    color: #3f484c;
}

.notification__title {
    font-weight: 700;
}

.volume-slider {
    /*margin-top: -17px;*/
}

.volume-slider__slider {
    /*background-color: #000;*/
    width: 100%;
}

.volume-info {
    margin-top: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    white-space: nowrap;
    margin-right: 20px;
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
}

.volume-info__volume-max {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    right: 5px;
    bottom: 30px;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #eef6fa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    white-space: nowrap;
    margin-right: 20px;
    margin-left: 10px;
    /*font-family: "Al Bayan", sans-serif;*/
}
.volume-info__volume-min {
    position: absolute;
    left: 29px;
    bottom: 30px;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #eef6fa;
}
.volume-info__volume-current {
    font-weight: 800;
    color: #ffffff;
    width: 100%;
}

.volume-info__volume-current-value {
    font-weight: 700;
}

.tabs {
    display: none;
}

.tabs__title {
    margin-bottom: 5px;
    text-align: center;
    font-weight: 545;
    color: #58616e;
    /*padding-top: 14px;*/
    padding-top: 5px;
}

.line_tabs_title {
    /*border-bottom: 1px solid #c1d3d9bf;*/
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 5px;
}
.tabs__list {
    margin-bottom: 5px;
}

.tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.tab:last-child {
    border-bottom: hidden;
}

.tab:hover {
    /*background-color: #eef6fa*/
    background-color: #4f4f4f;
    border-radius: 8px;
}

.tab__item {
    white-space: nowrap;
    /*padding: .75em .25em*/
    padding: 4px 4px;
}

.tab__item:first-child {
    padding-left: 0.5em;
}

.tab__item:last-child {
    padding-right: 0.5em;
}

.tab__icon-image {
    width: 22px;
    height: 22px;
}

.tab__title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

body,
html {
    /*min-height: 100%;*/
}

body {
    padding: 1em;
    font-size: 0.8275em;
    line-height: 1.5em;
    font-family: "Poppins", sans-serif;
    width: 394px;
    border-radius: 7px;
    background-color: rgba(44, 44, 44, 0.84);
}

.volume-slider__slider {
    /*-webkit-appearance: none;*/
    width: 90%;
    height: 12px;
    border-radius: 2px;
    background: #4f4f4f;
    outline: none;
    /*opacity: 0.9;*/
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

/*.volume-slider__slider::-webkit-slider-thumb {*/
/*    -webkit-appearance: none;*/
/*    appearance: none;*/
/*    width: 19px;*/
/*    height: 19px;*/
/*    border-radius: 50%;*/
/*    background: #ffb400;*/
/*    cursor: pointer;*/
/*}*/

.volume-slider__slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 60%;
    background: #ffcc00;
    cursor: pointer;
}

.footer {
    margin-top: 30px;
    /*margin-bottom: 1em;*/
    text-align: center;
    padding-bottom: 10px;
}

.footer__heart {
    color: #ffb3b3;
    -webkit-animation-name: heartbeat;
    animation-name: heartbeat;
    -webkit-animation-duration: 1.42857s;
    animation-duration: 1.42857s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes heartbeat {
    0% {
        color: #ffb3b3;
    }
    35% {
        color: #ff1a1a;
    }
    100% {
        color: #ffb3b3;
    }
}

@keyframes heartbeat {
    0% {
        color: #ffb3b3;
    }
    35% {
        color: #ff1a1a;
    }
    100% {
        color: #ffb3b3;
    }
}

input:checked {
    display: none;
}
input[type="range"] {
    /*height: 46px;*/
    -webkit-appearance: none;
    margin-top: 53px;
    margin-right: 20.8px;
    margin-left: 20.8px;

    /*margin: 10px 0;*/
    /*width: 100%;*/
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 18px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #002200;
    background: linear-gradient(270deg, #eb008b 0%, #00a4e3 101.38%);
    border-radius: 6px;
    border: 0px solid #06a0e1;
}

input[type="range"]::-webkit-slider-thumb {
    opacity: 1;
    border: 7px solid #06a0e1;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background: radial-gradient(#c91898 0 1.5vmin, #3a3a3a 0vmin 1vmin);
    box-shadow: 0 0 0 7px #3a3a3a;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(270deg, #eb008b 0%, #00a4e3 101.38%);
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 18px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #002200;
    background: linear-gradient(270deg, #eb008b 0%, #00a4e3 101.38%);
    /*border-radius: 16px;*/
    border: 0px solid #06a0e1;
}
input[type="range"]::-moz-range-thumb {
    box-shadow: 3px 3px 3px #06a0e1;
    border: 7px solid #06a0e1;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background: #000000;
    cursor: pointer;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 18px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background: linear-gradient(270deg, #eb008b 0%, #00a4e3 101.38%);
    border: 0px solid #06a0e1;
    /*border-radius: 32px;*/
    box-shadow: 0px 0px 0px #002200;
}
input[type="range"]::-ms-fill-upper {
    background: linear-gradient(270deg, #eb008b 0%, #00a4e3 101.38%);
    border: 0px solid #06a0e1;
    border-radius: 6px;
    box-shadow: 0px 0px 0px #002200;
}
input[type="range"]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 3px 3px 3px #06a0e1;
    border: 7px solid #06a0e1;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background: #000000;
    cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
    background: linear-gradient(270deg, #eb008b 0%, #00a4e3 101.38%);
}
input[type="range"]:focus::-ms-fill-upper {
    background: linear-gradient(270deg, #eb008b 0%, #00a4e3 101.38%);
}
