.volume-slider {
    position: relative;
}

.range-value {
    position: absolute;
    top: 10px;
    font-family: "Poppins", sans-serif;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-75%, 0);
    border-radius: 6px;
}
