.ui-switcher {
    background: #282828;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.25);
    display: inline-block;
    width: 54px;
    height: 30px;
    border-radius: 7px;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    left: 60px;
    top: 6px;
    transition: border-color 0.25s;
    /*margin: 10px 4px 0 0;*/
}

.ui-switcher:before {
    font-family: "Teko";
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 1;
    display: inline-block;
    position: absolute;
    top: 5px;
    height: 12px;
    width: 20px;
    text-align: center;
}
.ui-switcher[aria-checked="false"]:before {
    right: 7px;
    color: white !important;
    background: red;
}
.ui-switcher[aria-checked="true"]:before {
    left: 7px;
}

.ui-switcher[aria-checked="true"] {
    background: #282828;
}

.ui-switcher:after {
    background: #d64096;
    border-radius: 6px;
    box-shadow: -0.844237px 0.844237px 4.22118px rgba(0, 0, 0, 0.25);
    content: "\0020";
    display: inline-block;
    position: absolute;
    top: 4px;
    width: 28px;
    height: 23px;
    transition: left 0.25s;
}
.ui-switcher[aria-checked="false"]:after {
    left: 3px;
}
.ui-switcher[aria-checked="true"]:after {
    left: 23px;
}
