body {
    margin: 0;
}

header {
    padding: 9px;
    height: 38px;
    width: 100%;
    background-color: #1F1F1F;
    text-align: center;
    display: flex;
    position: fixed;
    z-index: 123;
    top: 0;
}

.helpers {
    margin: auto;
    display: flex;
    align-items: center;
}

.helpers .icon {
    margin: 2px 7px;
    cursor: pointer;
    border-radius: 8px;
}

.helpers .icon:hover {
    border: 2px solid #3C0BC9;
    margin:  0 5px;
}

.active {
    background-color: #3C0BC9;
    border-radius: 8px;
    border-color: transparent !important;
}

.downloadForm {
    position: absolute;
    display: flex;
    right: 16px;

}

.downloadFormat, #downloadButton, .setButton, .cutButton {
    color: #FFF;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 500;
    border: none;
    background: #3C0BC9;
    border-radius: 8px;
    background: #3C0BC9;
}

.downloadFormat {
    margin-right: 10px;
    padding: 0 10px;
}

#downloadButton {
    padding: 8px;
    margin-right: 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    width: 142px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#downloadButton img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.textInput {
    border: none;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
    background-color: rgb(228, 228, 228);
}

.setButton {
    height: 40px;
    width: 80px;
}

#editorContainer {
    overflow: auto;
    height: 97vh;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 56px;
}

#editorCanvas {
    position: relative;
}

#editorCanvas, #newParts {
    display: block;
    margin: 0 auto;
}

#newParts {
    background-color: transparent;
    display: none;
}

.colors {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
}

.colors div {
    width: 16px;
    height: 16px;
    border-radius: 5px;
    margin: 2px 5px;
}

.colors div:hover {
    border: 1px solid white;
    margin: 1px 4px;
}

.selectedColor {
    border: 1px solid white;
    margin: 1px 4px !important;
}

#cropFrame {
    position: absolute;
    border: 2px dashed #ff0000;
    cursor: move;
    pointer-events: auto; /* Разрешаем события мыши проходить через рамку */
    display: none;
}

.resize-handle {
    width: 10px;
    height: 10px;
    background-color: #009688;
    position: absolute;
}

.resize-handle.top-left {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}

.cutButton {
    transition: 0.5s;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    width: 50px;
    margin-top: -100px;
}

.cut {
    margin-top: 0 !important;
}

@media (max-width: 1050px) {
    .helpers {
        margin-left: 10px
    }
    .colors {
        margin-right: 0;
    }
}