html {
    border-bottom-left-radius: 8px;
}

body {
    margin: 0;
}

main {
    width: 332px;
    background: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background: rgba(0, 0, 0, 0.16);
    width: 332px;
    max-height: 50px;
    padding: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.header h2 {
    color: #FFF;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 650;
    margin: 0 0 0 16px;
}

.screenGroup {
    display: flex;
    color: white;
    padding: 24px 16px 16px;
    justify-content: space-around;
    width: 100%;
}

.saveButton {
    margin-bottom: 24px;
    color: white;
    border: none;
    width: 300px;
    height: 46px;
    padding: 8px;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    background: linear-gradient(90deg, #370CB1 0%, #3F0BD1 53.54%, #013894 100%);
}

.saveButton:hover {
    cursor: pointer;
    border-radius: 8px;
    background: linear-gradient(90deg, #2D0897 0%, #3D0FBF 53.54%, #012A70 100%);
    box-shadow: 0px 4px 24px 0px rgba(22, 4, 46, 0.30);
}

.screenButton {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 45px;
    background-color: #171717;
    border-radius: 8px;
    padding: 10px 6px;
    cursor: pointer;
    margin: 1px 2px;
}

.screenButton:hover {
    border: 1px solid #370CB1;
    margin: 0 1px !important;
}

.alert {
    position: fixed;
    z-index: 20;
    background-color: rgb(0 0 0 / 76%);
    width: 100%;
    height: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -24px;
}