@font-face { font-family: NotoSans; src: url('NotoSans-Regular.ttf'); font-weight: 400; }
@font-face { font-family: NotoSans; src: url('NotoSans-Bold.ttf'); font-weight: bold; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body
{
  width: 300px;
  font-size: 13px;
  height: 370px;
  background: linear-gradient(180deg, #4156C1 0%, #000A41 100%);
  font-family: 'Montserrat';
  font-weight: 500;
}

#clickhide-instructions,
#clickhide-cancel,
body.clickhide-active li
{
  display: none;
}

body.clickhide-active #clickhide-instructions,
body.clickhide-active #clickhide-cancel
{
  display: block;
}

body.local #enabled,
body.local #clickhide,
body.local #stats-page,
body.local #issueReporter
{
  display: none;
}

body.nohtml #clickhide,
body.disabled #clickhide
{
  display: none;
}

#stats-container .icon
{
  background-position: -50px -49px;
}

#stats strong
{
  font-size: 15px;
  line-height: 140%;
}


.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: column;
}

#sitename {
  font-family: 'NotoSans';
  font-size: 14px;
  color: white;
  margin-top: 13px;
}

.ad-status {
  width: 180px;
  height: 33px;
  background: #19CC2B;
  border-radius: 6px;
  margin-top: 7px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'NotoSans';
  font-weight: bold;
  font-size: 14px;
  color: white;
}

#stats {
  width: 100%;
  height: 100%;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: column;

  background: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.stats-wrapper {
  margin-top: 27px;
  width: 232px;
  height: 68px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

#blocked-text {
  font-family: 'NotoSans';
  font-weight: bold;
  font-size: 18px;
  color: #292929;
}

#total-text {
  font-family: 'NotoSans';
  font-size: 16px;
  color: #292929;
}

#stats-page {
  font-size: 18px;
  margin-left: 5px;
  color: #F11E1E;
  font-weight: bold;
  margin: 0;
}

#stats-total {
  margin-left: 6px;
  font-size: 16px !important;
  color: #292929;
  margin: 0;
}

.ad-disabled {
  background: #F11E1E !important;
}

#refresh.menu-item {
	padding: 4px 0 4px 0;
    border-radius: 2px;
    border: 1px solid #eee;
}

#refresh {
  display: none;
  background: #FFFFFF;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 21px;

  font-family: "NotoSans";
  font-size: 14px;
  font-weight: bold;
  color: #292929;

  width: 165px;
  height: 45px;

  outline: none;
  border: none;
}

.status-changed #refresh {
	display: block;
}

.status-changed #stats-container {
	display: none;
}
#refresh img {
	height: 25px;
	display: inline;
  margin:  0 auto;
  opacity: 0.5;
}

.beforeSpecial::before {
  opacity: 100% !important;
}

.afterSpecial::after {
  opacity: 100% !important;
}



.custom-switch.custom-switch-md .custom-control-label {
  padding-left: 2rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
}

.custom-switch.custom-switch-md .custom-control-label::before {
  height: 8px;
  width: calc(2rem + 0.75rem);
  border-radius: 3rem;
  background: #F11E1E;
}

.custom-switch.custom-switch-md .custom-control-label::after {
  width: 18px;
  border-radius: calc(2rem - (1.5rem / 2));
  background: white;
  height: 18px;
  top: -2px;
  border: 2px solid #F3F3F3;
  box-sizing: border-box;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  left: -40px;
}

.custom-switch.custom-switch-md .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(calc(2.2rem - 0.25rem));
  left: -30px;
}

.custom-control-input:checked~.custom-control-label::before {
  background: #19CC2B !important;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
  border-color: #F11E1E !important;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none !important;
}

.closed {
  display: none;
}


.status-changed #stats {
	display: none;
}