body{  
  width:100%;
}

.example-checkbox,.example-radio{
  margin-top:20px auto;
} 
input[type=checkbox],
input[type=radio ]{
  width   : 28px;
  height  : 20px;
  margin  : 0;
  padding : 0;
  opacity : 0;
  filter: "alpha(opacity=0)"; /* IE 8 */
 cursor:pointer;
}

input[type=checkbox]+ label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
background   : url(../image/main/uncheck2.png) no-repeat  0px 0px;
  line-height  : 20px;
  opacity : 1;

}
input[type=checkbox]:hover + label{
background   : url(../image/main/uncheck2.png) no-repeat  0px 0px;
 
}
input[type=checkbox]:checked + label{
background   : url(../image/main/checked.png) no-repeat  0px 0px;
 
}

input[type=checkbox]:checked:hover + label{
background   : url(../image/main/checked.png) no-repeat  0px 0px;
  
}

input[type=radio] + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 24px;
background   : url(../image/main/normal-c.png) no-repeat  0px 5px;
  line-height  : 24px;  
  
}
input[type=radio]:hover + label{
background   : url(../image/main/normal-c.png) no-repeat  0px 5px;
}
input[type=radio]:checked + label{
background   : url(../image/main/selected.png) no-repeat  0px 5px;
    
}
input[type=radio]:checked:hover + label{
background   : url(../image/main/selected.png) no-repeat  0px 5px;
   
}
