#right {
	/*background: rgba(51,51,51,0.8);*/
    padding: 3px 3px;
   /*padding-bottom: 2px;
   padding-right: 4px;*/
    position: absolute;
    top: 0;
    z-index: 2147483647;
	margin-right: 0px;
}

.input {
	margin-left: 80px;
	margin-top: 10px;
}

.confirm {
	margin-left: 120px;
}

.confirm1 {
	background-color: #5CB85C;
	padding: 8px 25px 8px 25px;
	font-size: 15px;
	color: white;
	cursor: pointer;
}

#back {
	z-index: 999;
	border-radius: .25em;
	background: rgba(0, 0, 0, 0.7);
	/*padding-top: 15px;*/
	padding-bottom: 20px;
	padding-left: 10px;
	/*padding-right: 8px;*/
	position: fixed;
	margin-left: 300px;
}
#back1 {
	z-index: 999;
	border-radius: .25em;
	/*background: rgba(0, 0, 0, 0.7);*/
	/*padding-top: 15px;*/
	padding-bottom: 20px;
	padding-left: 10px;
	/*padding-right: 8px;*/
	position: fixed;
	margin-left: 290px;
}
.padding_left {
	padding-left: 50px;
	padding-right: 50px;
}

.height {
	height: 20px;
}
.green{
	cursor: pointer;
}
.hidden{
	display: none;
}
