@font-face {
    font-family: "Titillium Web";
    src: url(../fonts/TitilliumWeb-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Titillium Web";
    src: url(../fonts/TitilliumWeb-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Titillium Web";
    src: url(../fonts/TitilliumWeb-Bold.ttf);
    font-weight: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
}

.disabled {
    display: none !important;
}

header {
    width: 100%;
    height: 60px;
    padding-left: 120px;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
}

header img {
    margin-top: 3px;
}

.content {
    width: 100%;
    padding: 24px 0px;
    display: flex;
    justify-content: center;
    flex-grow: 2;
}

.settings {
    min-width: 470px;
    width: 50%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    flex-flow: column wrap;
}

.settings .navbar {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 24px;
}

.settings .nav-buttons {
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

.settings .btn {
    width: 190px;
    height: 100%;
    font-family: "Titillium Web";
    font-weight: 600;
    font-size: 18px;
    color: #46009E;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.settings .btn:hover {
    color: #FD1A63;
}

.settings .btn.active {
    color: white;
    background: #FD1A63;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.color-templates, .custom-color {
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
}

.color-templates .bundle, .custom-color .bundle {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.color-templates .bundle span {
    font-family: "Titillium Web";
    font-weight: 600;
    font-size: 14px;
    color: #444444;
    margin-top: 5px;
}

.custom-color .bundle span {
    font-family: "Titillium Web";
    font-weight: 600;
    font-size: 20px;
    color: #2B015E !important;
    margin-bottom: 8px;
    align-self: self-start;
}

.color-templates .color, .custom-color .color {
    width: 100%;
    height: 60px;
    padding: 5px;
    background: white;
    border: 1px solid #2b015e20;
    border-radius: 4px;
    cursor: pointer;
}

.color-templates .color:hover, .custom-color .color:hover {
    border: 1px solid hsla(341, 98%, 55%, 0.4);
}

.color-templates .color.active {
    border: 1px solid #FD1A63
}

.color-templates .color .preview, .custom-color .color .preview {
    background: #F5FA57;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

.color-templates .color span {
    background: #F5FA57;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

.custom-color {
    margin-bottom: 8px;
}

.checkboxes {
    height: 100%;
    padding: 24px 0px;
    margin: 0px 24px;
    border-top: 1px solid #00000010;
    display: flex;
    flex-flow: row nowrap;
}

.checkbox-block {
    width: 25%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
}



.checkbox-block input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.checkbox-block label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 2em;
    height: 1.5em;
    line-height: 1.5;
    cursor: pointer;
    font-family: "Titillium Web";
    font-weight: 600;
    font-size: 16px;
    color: #2B015E;
    margin-bottom: 32px;
}

.checkbox-block label::before, .checkbox-block label::after {
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: 1em;
    height: 1em;
}

.checkbox-block label::before {
    content: " ";
    border: 2px solid #bdc3c7;
    border-radius: 20%;
}


.checkbox-block input[type="checkbox"]+label::after {
    content: "\2714";
    color: #2c3e50;
    line-height: 1.5;
    text-align: center;

    position: absolute;
    left: 2px;
    top: 0px;
}

.checkbox-block input[type="checkbox"]:checked+label::before{
    background: #cacaca;
    border-color: #cacaca;
}

.checkbox-block input[type="checkbox"]+label::after{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.checkbox-block input[type="checkbox"]:checked+label::after{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.checkbox-block label::before, label::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}