.ui-switcher {
  background: #979797;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
  height: 26px;
  width: 48px;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 0.25s;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.ui-switcher:hover {
  background: #7A7A7A;
}
.ui-switcher:before {
  font-family: 'Titillium Web';
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  display: inline-block;
  position: absolute;
  top: 6px;
  height: 12px;
  width: 20px;
  text-align: center;
}
.ui-switcher[aria-checked=false]:before {
  content: 'Off';
  right: 9px;
}
.ui-switcher[aria-checked=true]:hover {
  background: #E80F55;
}
.ui-switcher[aria-checked=true]:before {
  content: 'On';
  left: 8px;
}
.ui-switcher[aria-checked=true] {
  background: #FD1A63;
}
.ui-switcher[aria-checked=true]:hover {
  background: #E80F55;
}
.ui-switcher:after {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  content: '\0020';
  display: inline-block;
  position: absolute;
  top: 3px;
  height: 20px;
  width: 12px;
  border-radius: 4px;
  transition: left 0.25s;
}
.ui-switcher[aria-checked=false]:after {
  left: 3px;
  background: #ECECEC;
  
}
.ui-switcher[aria-checked=true]:after {
  left: 33px;
}
