*{
    margin: 0;
    padding: 0;
}
.hidden{
    display: none !important;
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
}
.wrapper{
    width: 240px;
    height: 290px;
    position: relative;
    background: #FAFAFA;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.heading{
    background: linear-gradient(112.97deg, #494E60 0%, #496060 101.38%);
    height: 34px;
    width: 100%;
    display: flex;
    align-items: center;
}
.heading .logo{
    width: 18px;
    height: 18px;
    margin-left: 7px;
    margin-right: 4px;
}
.heading h1.title{
    font-weight: 800;
    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
}

.list{
    padding: 4px 7px;
}
.list-item{
    width: 100%;
    height: 29px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border-bottom: 1px solid #D0D0D0;
    text-decoration: none;
    cursor: none;
}
.list-item:hover{
    text-decoration: underline;
    cursor: pointer;
}
.list-item img{
    margin-right: 6px;
}

.settings_for_domain{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
