@font-face { font-family: Rubik; src: url('fonts/Rubik-Regular.ttf'); font-weight: 400; }
@font-face { font-family: Rubik; src: url('fonts/Rubik-Medium.ttf'); font-weight: 500; }

* {
    box-sizing: border-box;
}

html, body {
    background-color: black;
    width: 280px;
    height: 430px;
}

.claws {
    display: none;
    position: absolute;
    left: 39px;
    bottom: -2px;
}

h1, h2, h3, h4, label, p, h5 {
    color: white;
}

#custom-color-switch {
    z-index: 99999;
}

div.day {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

body.day div.day span {
    color: #101010;
}

.custom-switch .custom-control-label::before {
    background: linear-gradient(157.23deg, #072238 15.95%, #021625 76.58%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    width: 2rem !important;
    height: 1.05rem !important;
}

.custom-switch.day .custom-control-label::before {
    background: linear-gradient(161.48deg, #A1BFD2 5.95%, #427496 93.55%);
}

.custom-switch .custom-control-label::after {
    background: linear-gradient(180deg, #FFFFFF -4.94%, #6997B4 150.77%);
    border: 1px solid #9EB1BF;
    box-sizing: border-box;
    box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.1);
    width: calc(1.05rem - 4px) !important;
    height: calc(1.05rem - 4px) !important;
}

#custom-color:checked ~ .custom-control-label::after {
    left: calc(-2.25rem + 5px) !important;
}

span {
    color: #D3D3D3;
    font-family: "Rubik";
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
}

#logo {
    position: absolute;
    left: 12px;
    top: 60px;
}

#domainBtn {
    position: absolute;
    width: 200px;
    height: 46px;
    left: 40px;
    top: 345px;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    text-align: center;
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 14px;

    border-radius: 4px;

    overflow: hidden;
}

body #domainBtn {
    background: #D3D3D3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #21232C;
}

body #domainBtn i {
    color: #21232C;
    transform: rotate(-45deg);
    margin-right: 6px;
}

body.inBlocklist #domainBtn {
    background: #21232C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    border: 2px solid #D3D3D3;
}

body.day #domainBtn {
    background: #101010;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #D3D3D3;
}

body.inBlocklist.day #domainBtn {
    background: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #101010;
    border: 2px solid #101010;
}

body.day .custom-control-label {
    color: #101010;
}

body.day .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("/img/tick-white.svg") !important;
}

body.day .custom-checkbox .custom-control-label::before {
    background: #101010 !important;
}

body .custom-control-input:checked~.custom-control-label::before {
    background: #D3D3D3;
}

body .line {
    z-index: 999999;
    position: absolute;
    width: 2px;
    height: 11%;
    left: 60px;
    background: #0F0F0F;
    bottom: 39px;
}

body.day .line {
    background: #ECECEC;
}

body.inBlocklist .line {
    display: none;
}


.custom-checkbox {
    position: absolute;
    height: 18px;
    left: 40px;
    top: 309px;
}

.custom-control-label {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 25px;
}

.custom-control-input:checked~.custom-control-label::before {
    background: #101010;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
}

body.day .custom-control-input:checked~.custom-control-label::before {
    background: #101010;
}

.custom-checkbox .custom-control-label::before {
    background: #d3d3d3;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);

    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
}

.custom-control:focus {
    border: none;
    box-shadow: none;
} 


.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("/img/tick-black.svg") !important;
}