@font-face { font-family: Teko; src: url('/fonts/Teko-Regular.ttf'); font-weight: 400; }
@font-face { font-family: Teko; src: url('Teko-Medium.ttf'); font-weight: 500; }
@font-face { font-family: Teko; src: url('Teko-Bold.ttf'); font-weight: bold; }
@font-face { font-family: RobotoCondensed; src: url('/fonts/RobotoCondensed-Regular.ttf'); font-weight: 400; }

body {
    width: 350px;
    background: linear-gradient(180deg, #5F5F5F 0%, #3F3F3F 100%);
}

.item {
    height: 70px;
    padding: 0px 13px;
    display: flex;
    align-items: center;
}

#title {
    font-family: 'Teko';
    font-size: 16px;
    line-height: 104%;
    display: flex;
    align-items: center;
    display: inline-block;
    margin-left: 3px;
    width: 95px;
    color: white;
}

.form-check {
    position: absolute;
    top: 25px;
    left: 286px;
}

.btn-shortcut {
    width: 28px;
    height: 28px;
}

.cont h3 {
    font-family: 'RobotoCondensed';
    font-size: 16px;
    line-height: 104%;
    display: flex;
    align-items: center;
    display: inline-block;
}


.howTo-text {
    font-family: 'RobotoCondensed';
    font-size: 16px;
    line-height: 120%;
    color: white;
}

.howTo-container {
    padding: 0px 21px 20px 21px !important;
}

.cont {
    padding: 0px 21px;
}

.cont .red {
    font-family: 'Teko';
    font-weight: 500;
    font-size: 20px;
    line-height: 104%;
    color: #FFE817;
    width: 100%;
}