@font-face { font-family: Russo; src: url('./RussoOne-Regular.ttf'); font-weight: 400; }
@font-face { font-family: Montserrat; src: url('./Montserrat-Regular.ttf'); font-weight: 400; }
@font-face { font-family: Montserrat; src: url('./Montserrat-Medium.ttf'); font-weight: 500; }
@font-face { font-family: Montserrat; src: url('./Montserrat-Bold.ttf'); font-weight: 600; }

@font-face { font-family: Lato; src: url('Lato-Regular.ttf'); font-weight: 400; }
@font-face { font-family: Lato; src: url('Lato-Bold.ttf'); font-weight: bold; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body
{
  width: 300px;
  font-size: 13px;
  height: 274px;
  background: #F3F3F3;
  font-family: 'Montserrat';
  font-weight: 500;
}

h1 {
  margin-bottom: 0;
}

#clickhide-instructions,
#clickhide-cancel,
body.clickhide-active li
{
  display: none;
}

body.clickhide-active #clickhide-instructions,
body.clickhide-active #clickhide-cancel
{
  display: block;
}

body.local #enabled,
body.local #clickhide,
body.local #issueReporter
{
  display: none;
}

body.nohtml #clickhide,
body.disabled #clickhide
{
  display: none;
}

#stats-container .icon
{
  background-position: -50px -49px;
}

#stats strong
{
  font-size: 15px;
  line-height: 140%;
}

header {
  width: 100%;
  height: 50px;
  
  display: flex;
  align-items: center;

  padding-left: 14px;
}


.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-flow: column;
}

.page-settings {
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0px 24px;
  background: #2049B5;
  box-shadow: inset 0px 3px 7px rgba(0, 0, 0, 0.1);

  border-bottom: 1px solid white;
}

.page-settings:last-of-type {
  height: 80px;
  border-bottom: none;
}

.page-settings h1 {
  font-family: Russo;
  font-size: 16px;
  color: white;
}

.page-disabled {
  background: #F52F2F;
}


.site-data {
  width: 67%;
  display: flex;
  justify-content: start;
  flex-flow: column;
}

.for-site {
  font-family: "Lato";
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  margin: 0;
}

#sitename {
  font-family: 'Montserrat';
  font-size: 16px;
  color: white;
  font-weight: 400;
}

.ad-status {
  width: 200px;
  height: 40px;
  background: #14EF79;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0px 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Lato';
  font-weight: bold;
  font-size: 16px;
  
  margin-top: 5px;
  color: white;
}

.ad-status span {
  color: white;
  margin-left: 5px;
}

.stats-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  padding: 24px;
  display: flex;
  flex-flow: column;
}

.stats-wrapper h1 {
  font-family: Russo;
  font-size: 16px;
  font-weight: 400;
  color: #2049B5;
}

.line {
  width: 100%;
  height: 0px;
  border: 1px solid #2049B5;

  margin-bottom: 18px;
}

#stats {
  width: 100%;
  height: 100%;

  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-flow: column;
}

#blocked-text {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #2049B5;
  margin-bottom: 8px;
}

#total-text {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  color: #2049B5;
  line-height: 15px;
}

#stats-page {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
  color: #F52F2F;
  margin: 0;
  margin-left: 28px;
}

#stats-total {
  font-family: 'Montserrat';
  font-size: 18px !important;
  font-weight: 600;
  color: #2049B5;
  margin: 0;
  margin-left: 10px;
}

.ad-disabled {
  background: #F11E1E !important;
}

#refresh {
  display: none;
  background: #FFFFFF;
  border: 1px solid #2049B5 !important;
  box-shadow: 0px 6px 12px rgba(32, 73, 181, 0.37);
  border-radius: 27.5px;

  font-family: "Russo";
  font-size: 16px;
  color: #2049B5;
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  margin-top: 36px;
}

#refresh:hover {
  background: #2049B5 !important;
  color: white !important;
}

#refresh:active {
  background: #0C2F8D !important;
  color: white !important;
}

.status-changed #refresh {
	display: block;
}

.status-changed #stats-container {
	display: none;
}
#refresh img {
	height: 25px;
	display: inline;
  margin:  0 auto;
  opacity: 0.5;
}

.beforeSpecial::before {
  opacity: 100% !important;
}

.afterSpecial::after {
  opacity: 100% !important;
}


.custom-control-label {
  cursor: pointer;
}

.custom-switch.custom-switch-md .custom-control-label::before {
  height: 22px;
  width: calc(2rem + 0.75rem);
  background: white;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #242424;

  font-size: 10px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-top: 3px;
  font-family: Russo;
  color: #2049B5;

  content: 'OFF';
  padding-left: 20px;
  color: #F52F2F;
}


.custom-switch.custom-switch-md .custom-control-label::after {
  width: 16px;
  height: 16px;
  top: 7px;
  left: calc(-2.1rem + 2px);
  background: #F52F2F !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.custom-control-input:checked~.custom-control-label::before {
  background: white;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #242424;

  content: 'ON';
  padding-left: 5px;
  color: #2049B5;
}

.custom-switch.custom-switch-md .custom-control-input:checked ~ .custom-control-label::after {
  left: calc(-1.6rem + 2px);
  background: #2049B5 !important;
}

.custom-control {
  min-height: 1.7rem !important;
}

.closed {
  display: none;
}

.status-changed .stats-wrapper {
	display: none;
}